*.ts
!*.d.ts
node_modules/
.vscode/
.idea/
*.log
.DS_Store
.git/
.gitignore
credentials/*.ts
!credentials/*.d.ts
nodes/**/*.ts
!nodes/**/*.d.ts
tsconfig.json
.eslintrc.js
.prettierrc.js
openapi.json
README_EN.md
INSTALL.md

